@import "variables.scss";

body {
    font-family: $font;
}
h1{
    font-size: $size*4;
}
.square{
    width: $size*5;
    height: $size*5;
    border: 1px solid $font-color;
    transform: rotateZ(45deg);
    margin: 20px auto;
}
p{
    transform: rotateZ(180deg);
}