@import "variables.scss";
@import "mixins.scss";
@import "extends.scss";

body {
    font-family: $font;
}
.text-box{
    width: 100%;
    margin: 20% 0;
    padding: 0 10%;
    border: 1px solid yellow;
}
.info{
    @extend .text-box;
}
.warning{
    @extend .text-box;
}